.details {
    background-color: #6f66c7;

}
.detailsWrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.detailInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #6f66c7;
  background-size: cover;
  height: 100vh;
}

.detailInfo li {
  list-style-type: none;
  font-style: normal;
  font-weight: 400;
  font-size: 63px;
  line-height: 100px;
  color: #ffffff;
}
