.addCity {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
}